version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - '6543:5432'

  app:
    build: .
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/mydb?schema=public
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - '3000:3000'
    command: pnpm start:dev

volumes:
  pgdata:
